@import 'tailwindcss';

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.interface {
  position: relative;
  top: calc(100% - 12.5rem);
  left: 3.125rem;
  width: 12.5rem;
  height: 12.5rem;
  background-color: red;
}

.colorContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 6.25rem;
  left: 6.25rem;

  width: 12.5rem;
  height: 3.125rem;
}

.yellow {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  background-color: yellow;
}

.red {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
}

.hotpink {
  width: 20%;
  height: 100%;
  border-radius: 50%;
  background-color: hotpink;
}
